body {
  font: 24px Helvetica;
  background: #999;
}
#main {
  min-height: 800px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: row;
}
#main article {
  margin: 0px;
  padding: 15px;
  border: 1px solid #000;
  background: #dd8;
  flex: 3 1 60%;
  order: 2;
}
#main nav {
  margin: 0px;
  padding: 15px;
  background: #ccf;
  flex: 1 6 20%;
  order: 1;
  border: 1px solid #000;
  text-align: right;
}
#main aside {
  margin: 0px;
  padding: 15px;
  background: #ccf;
  flex: 1 6 20%;
  order: 3;
  border: 1px solid #000;
}
header {
  line-height: 100px;
  font-size: 30pt;
}
header,
footer {
  display: block;
  margin: 0px;
  padding: 15px;
  vertical-align: middle;
  min-height: 100px;
  background: #feb;
  border: 1px solid #000;
}
@media all and (max-width: 640px) {
  #main,
  #page {
    flex-direction: column;
  }
  #main article,
  #main nav,
  #main aside {
    order: 0;
  }
  #main nav,
  #main aside,
  #main header,
  #main footer {
    min-height: 50px;
    font-size: 12pt;
  }
  #main nav {
    text-align: left;
    order: -1;
  }
  header {
    line-height: 50px;
    font-size: 18pt;
  }
}
